<html>
    <head>
        <title>Bugse's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Bugse's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My First Post</a></h2>
            <p>So funny to write here. I am so happy :) </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:20</p>
            <h2><a href="">My Second Post</a></h2>
            <p>Today,I started to my new job. I am a software development intern in Germany yey.</p>
        </div>
    </body>
</html>